
{% load staticfiles %}

<!DOCTYPE HTML>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include 'medical_equipments_head.html' %}
<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #ffffff;
}
table#t01 tr:nth-child(odd) {
   background-color:#000000;
}
table#t01 th  {
    background-color: black;
    color: white;
}
</style>


<body>



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                
      </button>
      <a class="navbar-brand" href = "/">Central Medical Equipments Directory</a>
    </div>


    <div class="collapse navbar-collapse" id="myNavbar">
      
      <ul class="nav navbar-nav navbar-right">



        {% if user.is_authenticated %}
        <li><a href="/register_hospital"><span class="glyphicon "></span>Add Hospital</a></li>
        

        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.username }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/user">Profile</a></li>
                <li><a href="/change_password">Change Password</a></li>
               
                
              </ul>
            </li>

        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>

        {% endif %}


      </ul>
    </div>
  </div>


</nav>


{% if queryset %}
            


<div class="container" align="center">
<div align="center">
  <h3>List of Registerd Hospitals</h3>
</div>
<table class="sortable" class="table table-hover table-bordered table-striped table-condensed">
  <tr>
    <th>Hospital ID</th>
    <th>Hospital Name</th>  
    <th>Govt./Private</th>  
    <th>Hospital Type</th>
    <th>Contact</th>
    <th>Address</th>
    <th>Pin Code</th>
  </tr>
 
  {% for x in queryset %}

  <form class="form-horizontal" method = "post" id = "hospForm" role = "form" >{% csrf_token %}

  <tr>
  <th>
    <form method="POST">{% csrf_token %}
    <a href='/see_equipments?hid={{ x.hospital_id }}'>{{ x.hospital_id }}</a>

    </form>


  </th>
  <th>{{ x.hospital_name }}</th>
  <th>{{ x.hospital_type }}</th>
  <th>{{ x.hospital_cat }}</th>
  <th>{{ x.mobile }}</th>
  <th>{{ x.address }}</th>
  <th>{{ x.pincode }}</th>


</tr>

</form>


  {% endfor %}

</table>
</div>

 {% endif %}


 &copy /wrig nanosystems pvt ltd
</body>
</html>


