

{% load staticfiles %}

<!DOCTYPE HTML>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include 'medical_equipments_head.html' %}
<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #ffffff;
}
table#t01 tr:nth-child(odd) {
   background-color:#000000;
}
table#t01 th  {
    background-color: black;
    color: white;
}
</style>


<body>



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                
      </button>
      <a class="navbar-brand">Central Medical Equipments Directory</a>
    </div>


    <div class="collapse navbar-collapse" id="myNavbar">
      
      <ul class="nav navbar-nav navbar-right">

{% if user.is_authenticated %}
       

        <li><a href="/user"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>

        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>

        {% endif %}


      </ul>
    </div>
  </div>


</nav>


{% if queryset %}
            


<table class="sortable">
  <tr>    
    <th>Equipment ID</th>
    
    
  </tr>
 
  {% for x in queryset %}

  <form class="form-horizontal" method = "post" id = "state_adminForm" role = "form" >{% csrf_token %}

  <tr>
  
  <th>{{ x.equipment_id }}</th>
  
 



</tr>

</form>


  {% endfor %}

</table>

 {% endif %}


 &copy /wrig nanosystems pvt ltd
</body>
</html>

